<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>System Monitor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "GPU Temp",
                        backgroundColor: 'rgb(255, 99, 132)', // Red
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    },
                    {
                        label: "CPU Temp",
                        backgroundColor: 'rgb(54, 162, 235)',  // Blue
                        borderColor: 'rgb(54, 162, 235)',
                        data: [],
                        fill: false,
                    },
                    {
                        label: "CPU Power",
                        type: 'bar',
                        // backgroundColor: 'rgb(75, 192, 192)',  // Green
                        borderColor: 'rgb(75, 192, 192)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    plugins: {
                    },
                    scales: {
                        x: {
                            position: 'bottom',
                        },
                        y: {
                            position: 'right',
                            min: 0,
                            max: 100,
                        }
                    }
                }
            };

            const context = document.getElementById('canvas').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 60) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                    config.data.datasets[1].data.shift();
                    config.data.datasets[2].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.gpu_temp);
                config.data.datasets[1].data.push(data.cpu_temp);
                config.data.datasets[2].data.push(data.cpu_power);
                lineChart.update();
            }
        });
    </script>
</body>

</html>